$background1: url(..//img/m-h-day.jpg);
$background-body: #ffffff;
$margin-header: 125px;
$color-header-text: #2c2f3c;
$background-color: #2c2f3c;
$font-text: 'Hind', sans-serif;
$font-headers: 'Source Sans Pro', sans-serif;
$background-color-button: #699a00;
$background-color-word: #14a0c7;
$color-text: #EBEDE8;
$background-color-gradient: linear-gradient(to right, #649412, #2f5dd1);
$height-banner:16vh;
