$background1: url(..//img/m-h-night.jpg);
$background-body: #21232e;
$margin-header: 125px;
$color-header-text: #ffffff;
$background-color: #3b3f50;
$font-text: 'Fresca', sans-serif;
$font-headers: 'Source Sans Pro', sans-serif;
$background-color-button: #e3ac00;
$background-color-word: #ff4e33;
$color-text: #EBEDE8;
$background-color-gradient: linear-gradient(to right, #dda305, #97334e);
$height-banner:16vh;
