@import './variables.scss';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.highlight, .header {
    background-color: $baseColor;
    border-radius: 10px;
}

.container, .wrapper_board {
    display: flex;
    flex-direction: row;
}

.container {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: -4vw;
}
.user, .computer, .header {
    padding: 10px;
}

.cell {
    width: 6vw;
    height: 12vh;
    border: 2px solid black;
    text-align: center;
    font-size: 2em;
}

.cell, button {
    cursor: pointer;
}

.win {
    background-color: $baseColor;
}

button {
    padding: 10px 20px;
    background-color: red;
    border: none;
    margin-top: 20px;
    border-radius: 10px;
    color: #fff;
    font-size: 1em;
    outline: none;
}





